{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.forward/semver {:mvn/version "0.1.0"}
        metosin/malli {:mvn/version "0.6.2"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}}}
